@media screen and (orientation: portrait) and (min-width: 769px) {
  /* body {
    grid-template-columns: 1fr repeat(12, 60px) 1fr;
  } */
  menu ul li a p {
    display: none;
  }
  menu ul li a img {
    display: block;
  }
  .pos-rel-btt-25 {
    position: relative;
    border-radius: 25%;
    border: 1px solid rgb(255, 255, 255);
    bottom: 30px;
    transition: 3s;
  }
  .pos-rel-btt-25:hover {
    border: 1px solid #e47c25;
    box-shadow: 0px 0px 15px #e47c25;
    transition: 1s;
  }
}
